<div class="row-fluid" id="projectIndexUl">
<% projects.each(function(proj) { %>
	<div class="col-xs-3">
		<div class="splashContainer">
		<a href="#/project/<%= proj.id %>">
			<p class="splashTitle"><%= proj.escape('name') %></p>
			<div class="splashPhotoDiv">
				<% proj.get('splash').each(function(photo){ %>
					<img class="splashPhoto" src="<%= photo.get('img_url') %>">
				<% }) %>
			</div>
			<div class="splashDesc"><%= proj.escape('description') %></div>
		</a>
		</div>
	</div>

<% }) %>
</div>

