<div class="row">
	<h4>Add Photo to <b><%= project.get("name") %></b></h4>
</div>
<br>
<div class="row">
<div class="col-xs-6 photoForm">
	<form id="addPhotoForm" enctype="multipart/form-data">
	<label for="photo_title">Photo Title</label>
	<input maxlength="28" class="photoForm" id="photo_title" name="photo[name]">
	<br>
	<label for="photo_description">Description</label>
	<textarea maxlength="255" class="photoForm" id="photo_description" name="photo[description]"></textarea>
	<br>
	<label for="photo_imgurl">Image URL</label>
	<input class="photoForm" id="photo_imgurl" name="photo[img_url]">
	<br>
<!-- 	<label for="attached_img"> image:</label>
  <input type="file" name="photo[attached_img]" id="attached_img">
	<br> -->
	<input type="hidden" name="authenticity_token" value="<%= $("meta[name='csrf-token']").attr("content") %>">
	<input type="submit" class="addButton" value="Add Photo">
	</form>
	<!-- <iframe id='upload_frame' name='upload_frame' src=''></iframe> -->
</div></div>