<div class="container-fluid" id="about">
	<h3>About</h3>

	<p>
		Sisyphus Light Hauling serves as a repository for the collected collaborative works of a loose network of Bay Area artists and makers. As a moving company, they excell at creating elaborate but fairly useless productions, and they claim no responsibility for getting your sofa up the stairs in one piece. In this hectic time of transition, you can rely on SLH to throw themselves with gusto at the most immense of problems. We gaurantee that most immense problems will prove unsolveable, but promise to flail at them tirelessly for all of eternity or your money back.
	</p>
</div>