/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

      body {
        margin: 0;
        margin-bottom: 25px;
        padding: 0;
        background-color: #fff;
        font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
        font-size: 13px;
        color: #333;
      }

      h4 {
        margin-left: 15px;
      }

      p {
        font-size: 20px;
        margin-top: 10px;
      }

      .imageHolder {
        height: 225px;
      }

      .imageTitle {
        height: 75px; 
        margin: 15px;
        font-size: 18px;
      }

      .linkBox {
      	// width: 150px;
      	height: 100px;
      	text-align: center;
      	background: lightgrey;
      	padding: 10px;
      	padding-top: 20px;
      	// margin: 20px;
      }

      .linkDisplay {
      	padding: 15px;
      	padding-left: 40px;
      	padding-right: 40px;
      	// height: 115px;
      }

      .linkRow {
        padding-left: 50px;
        padding-right: 30px;
        background-repeat: no-repeat;
        background-position: top left;
        height: 90%;
      }

      .modal-content {
        width: 700px; 
      }

      .modal-dialog {
        width: 700px; 
      }

      .modalImage {
        max-height: 600px;
        max-width: 650px;
      }

      .photoForm {
        margin: 5px;
        margin-left: 10px;
        padding: 5px;
      }

      .photoImage{
        width: 90%;
        margin: 15px;
        max-height: 200px;
        max-width: 250px;
      }

      .photoLi{
        display: inline-block;
        margin: 15px;
        border-radius: 5px;
        padding: 5px;
        background-color: #e9e988;
        width: 300px;
        height: 300px;
        font-size: x-large;
        position: relative;
        text-align: left;
      }

      .projectLi{
        display: inline-block;
        margin: 15px;
        border-radius: 5px;
        padding: 5px;
        background-color: #e9e988;
        width: 300px;
        height: 150px;
        font-size: x-large;
        position: relative;
        text-align: left;
      }

      #projectIndexUl {
        padding: 0;
      }

      #header {
        padding-left: 50px;
        padding-right: 30px;
        background-repeat: no-repeat;
        background-position: top left;
        height: 100px;
      }

      #header h1, #header h2 {margin: 0}

      #header h1 {
      	font-weight: bold;
      }

      #header h2 {
      	padding-top: 10px;
        color: #888;
        font-weight: normal;
        font-size: 16px;
      }