/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application- styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

      a {
        color: #044d69;
      }

      body {
        margin: 0;
        margin-bottom: 25px;
        padding: 0;
        background-color: #fff;
        font-family: "Josefin Sans", "Lucida Grande", "Bitstream Vera Sans", "Verdana";
        font-size: 13px;
        // color: #333;
        color: #044d69;
      }

      h4 {
        margin-left: 15px;
      }

      p {
        font-size: 20px;
        margin-top: 10px;
      }

      #content {
        padding: 0px;
      }

      #navLi {
        float: right;
      }

      #newPhotoLink {
        // color: white; 
      }

      #photoList {
        margin: 0 auto;
      }

      #wrap {
        max-width: 960px;
        margin: 0 auto;
      }

      .imageHolder {
        height: 225px;
        text-align: center;
      }

      .imageModalDiv {
        text-align: center;
      }

      .imageTitle {
        height: 75px; 
        margin: 15px;
        font-size: 18px;
      }

      .linkBox {
      	// width: 150px;
      	height: 100px;
      	text-align: center;
      	background: lightgrey;
      	padding: 10px;
      	padding-top: 20px;
      	// margin: 20px;
      }

      .linkDisplay {
      	padding: 15px;
      	padding-left: 40px;
      	padding-right: 40px;
      	// height: 115px;
      }

      .linkRow {
        padding-left: 50px;
        padding-right: 30px;
        background-repeat: no-repeat;
        background-position: top left;
        height: 90%;
      }

      .modal-content {
        width: 700px; 
      }

      .modal-dialog {
        width: 700px; 
      }

      .modalImage {
        max-height: 600px;
        max-width: 650px;
      }

      .photoForm {
        margin: 5px;
        margin-left: 10px;
        padding: 5px;
      }

      .photoImage{
        margin: 22px;
        max-height: 200px;
        max-width: 250px;
      }

      .photoLi{
        display: inline-block;
        margin: 3px;
        margin-bottom: 25px;
        border-radius: 5px;
        padding: 3px;
        background-color: #e9e988;
        width: 300px;
        height: 275px;
        font-size: x-large;
        position: relative;
        text-align: center;
      }

      .projectLi{
        display: inline-block;
        margin: 3px;
        border-radius: 3px;
        padding: 3px;
        background-color: #e9e988;
        height: 250px;
        font-size: large;
        position: relative;
        text-align: left;
      }

      .splashContainer {
        // display: table-cell;
        // vertical-align: middle;
        // max-height: 100%;
        width: 100%;
        position: relative;
      }

      .splashPhoto {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        max-height: 130px;
        top: 75px;
      }

      .splashTitle {
        display: block;
        height: 80px;
        padding-left: 5px;
        text-align: center;
      }

      #projectIndexUl {
        padding: 0;
        margin: 5px auto;
      }

      #headerImage {
        margin-top: 15px;
        max-width: 960px;
      }

      #headerplaceholder {
        max-width: 900px;
        height: 150px;
      }

      #link_list {
        width: 150px;
      }

      #header {
        padding-left: 50px;
        padding-right: 30px;
        background-repeat: no-repeat;
        background-position: top left;
        height: 100px;
      }

      #header h1, #header h2 {margin: 0}

      #header h1 {
      	font-weight: bold;
      }

      #header h2 {
      	padding-top: 10px;
        color: #888;
        font-weight: normal;
        font-size: 16px;
      }