<!DOCTYPE html>
<html>
<head>
  <title>Sisyphus Light Hauling</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrap">

	<div class="container-fluid" id="navtop">
	<!-- <nav class="navbar navbar-default"> -->
		<!-- <div class="navbar-header"> -->
		<div class="row">
			<div id="headerplaceholder">
				<img id="headerImage" src="/assets/slhtryagain.png">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-10">
			</div>
			<div class="col-xs-2">
				<div class="collapse navbar-collapse" id="link_list">
					<span class="dropdown navLi">
						<a href="#" class="dropdown_toggle" data-toggle="dropdown">Local 41510
							<b class="caret"></b>
						</a>

						<ul class="dropdown-menu">
							<li><a href="#">About</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</span>
				</div>
			</div>
		</div>
			<!-- </ul> -->
		<!-- </div> -->
	<!-- </nav> -->
	</div>

	<div class="container-fluid" id="content">
	<%= yield %>
	</div>
</div>
</body>
</html>
